<!doctype html>
<html lang="en" ng-app="main">

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_805836_phd6xifv5f.css">
  <link rel="stylesheet" href="/aejsStyles/template.css">
</head>

<body>
  <div class="summer" ng-controller="summerController">
    <div class="main-header-box">
      <header class="main-header">
        <div class="container">
          <a class="logo" href="/">
            <img src="/aejsStyles/images/logo.png" alt="">
          </a>
        </div>
      </header>
    </div>
    <div class="container main-container">
      <div class="view column-view">
        <div class="main-area article-area">
          <div class="article">
            <!-- 内容部分 -->
            <div class="notecontent-layer ql-container ql-snow">
              <div class="ql-editor word-wrap">
                <%- content %>
              </div>
            </div>
            <!-- 内容部分end -->
            <!--  评论部分 -->
            <div class="comment-cointer">
              <p class="comment-title">评论</p>
              <div class="edit-cointer comment-form">
                <div class="avator"></div>
                <textarea class="content-input" placeholder="说说你的看法" ng-model="content"></textarea>
                <div class="action-box">
                  <div class="submit-box">
                    <span data-v-efcd2e56="" class="submit-text">Ctrl or ⌘ + Enter</span>
                    <button data-v-efcd2e56="" class="submit-btn" ng-click="comment()">评论</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="sidebar-block shadow">
            <div class="block-title">
              关于作者
            </div>
            <div class="block-body">
              <div class="user-item">
                <div class="avator">
                  <img src="<%= userInfo.portrait %>" alt="">
                </div>
                <div class="info-box">
                  <%= userInfo.nikeName %>
                </div>
              </div>
            </div>
            <div class="start-item item">
              <div class="info-round">
                <i class="iconfont icon-aixin1"></i>
              </div>
              <span>喜欢数9,365</span>
            </div>
            <div class="start-item item">
              <div class="info-round">
                <i class="iconfont icon-yanjing"></i>
              </div>
              <span>阅读数9,365</span>
            </div>
          </div>
        </div>
        <div class="article-suspended-panel">
          <div class="panel-btn with-badge" badge="24">
            <i class="iconfont icon-aixin1"></i>
          </div>
          <div class="panel-btn with-badge" badge="3">
            <i class="iconfont icon-pingluncomment43"></i>
          </div>
          <div class="share-title">分享</div>
          <div class="panel-btn">
            <i class="iconfont icon-qq-copy"></i>
          </div>
          <div class="panel-btn">
            <i class="iconfont icon-weixin"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="suspension-panel">
      <button title="回到顶部" class="btn to-top-btn" id="toTop">
        <i class="iconfont icon-xiaotuziCduan_"></i>
      </button>
      <button title="建议反馈" class="btn meiqia-btn">
        <i class="iconfont icon-pinglun"></i>
      </button>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script>
  var mainModule = angular.module('main', []);
  function GetQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
  }
  mainModule.controller('summerController', ['$scope', '$log', '$http', function ($scope, $log, $http) {
    var obtn = document.getElementById('toTop');
    var timer = null;
    var isTop = true;
    //获取页面的可视窗口高度
    var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;

    //滚动条滚动时触发
    window.onscroll = function () {
      //在滚动的时候增加判断
      var osTop = document.documentElement.scrollTop || document.body.scrollTop;//特别注意这句，忘了的话很容易出错
      if (osTop >= clientHeight) {
        obtn.style.display = 'block';
      } else {
        obtn.style.display = 'none';
      }

      if (!isTop) {
        clearInterval(timer);
      }
      isTop = false;
    };
    obtn.onclick = function () {
      //设置定时器
      timer = setInterval(function () {
        //获取滚动条距离顶部的高度
        var osTop = document.documentElement.scrollTop || document.body.scrollTop;  //同时兼容了ie和Chrome浏览器

        //减小的速度
        var isSpeed = Math.floor(-osTop / 6);
        document.documentElement.scrollTop = document.body.scrollTop = osTop + isSpeed;
        //console.log( osTop + isSpeed);

        isTop = true;

        //判断，然后清除定时器
        if (osTop == 0) {
          clearInterval(timer);
        }
      }, 30);
    };

    $scope.content = '';
    let token = localStorage.getItem('noteToken');
    //评论
    $scope.comment = function () {
      let data = {
        articleId: GetQueryString('_id'),
        ancestor:34,
        commentBody: $scope.content.replace(/\n/g, "").trim()
      }
      $http(
        {
          method: 'POST',
          url: '/api/note/comment',
          headers: {
            'Content-Type': 'application/json',
            'token': token
          },
          data: data
        }
      ).then(
        function (res) {
          console.log(res);
        },
        function (err) {

        }
      )
    }
  }])
</script>

</html>